.form-group {

  margin:auto;
  margin-top: 18%;
  margin-left: 39%;
 
  height: 190px;
  width: 305px;
  border: 2px solid black;
  border-radius: 2px;
  background-color: lightblue
}

button {
  margin-top: 20px;
  margin-left: 100px;
  
  
}

.form-control {
  width: 250px;
  margin-top: 16px;
  margin-left: 25px;
  margin-right: 25px;
}
